.img-circle{
  width: 90px;
  z-index: 1;
}
.iconr{
  position: absolute;
  right:7px;
  top: 70px;
}
.iconl{
  position: absolute;
  left:0px;
  top: 70px;
}
body{
background: white;
}
.jumbotron{
  top:31px;
  position: relative;
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(blue, lightgreen); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(blue, lightgreen); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(blue, lightgreen); /* For Firefox 3.6 to 15 */
  background: linear-gradient(blue, lightgreen); /* Standard syntax */
}
.team_pic_img{
  width: 200px;
  height: 200px;
  -webkit-animation-name: pic; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
  animation-name: pic;
  animation-duration: 2s;
  animation-play-state: paused;
}
.text-area{
  width:200px;
  height:200px;
  background: linear-gradient(yellow, lightgreen);
  position: absolute;
  display: none;
  top:0px;
  -webkit-animation-name: text; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
  animation-name: text;
  animation-duration: 2s;
  animation-delay: 2s;
}
.team_pic:hover .text-area{
  display: block;
  animation-play-state: running;
}
.team_pic:hover .team_pic_img{
  animation-play-state: running;
}
.team_pic {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
  }
/* Safari 4.0 - 8.0 */
@-webkit-keyframes text {
    0%   {transform:rotateY(180deg)}
    50%  {transform:rotateY(270deg)}
    100% {transform:rotateY(360deg)}
}

/* Standard syntax */
@keyframes text {
  0%   {transform:rotateY(180deg)}
  50%  {transform:rotateY(270deg)}
  100% {transform:rotateY(360deg)}
}
@-webkit-keyframes pic {
    0%   {transform:rotateY(0deg)}
    50%  {transform:rotateY(90deg)}
    100% {transform:rotateY(180deg)}
}

/* Standard syntax */
@keyframes pic {
  0%   {transform:rotateY(0deg)}
  50%  {transform:rotateY(90deg)}
  100% {transform:rotateY(180deg)}
}
