body{
  background: url("Manhatan.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}
.question-area{
  background: url("sunshine.jpg");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: cover;
  height:390px;
  width:600px;
  margin: auto;
  right: 248px;
  position: relative;
  padding: 50px;
  border-radius: 20px;
}
.jumbotron{
  top:31px;
  position: relative;
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(blue, lightgreen); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(blue, lightgreen); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(blue, lightgreen); /* For Firefox 3.6 to 15 */
  background: linear-gradient(blue, lightgreen); /* Standard syntax */
}
.questions {
  position: relative;
  text-shadow: 30px;
  font-family: cursive;
  font-size: 20px;
}
.answers{
  font-family: fantasy;
}

.img-circle{
  width: 90px;
  z-index: 1;
}
.iconr{
  position: absolute;
  right:7px;
  top: 70px;
}
.iconl{
  position: absolute;
  left:0px;
  top: 70px;
}
video{
  width:870px;
  height: 490px;
  position: relative;
  left: 220px;
  margin: 10px;
  background-color: lightgreen;
  border: 0px;
  border-color: blue;
}
#buttonl, #buttonr{
  background-color: blue;
  width: 20%;
  padding: 5px;
  color: white;
 }
#buttonl{
  left: 400px;
  top: 600px;
  position: absolute;
}
#buttonr{
  left: 700px;
  top: 600px;
  position: absolute;
}
