body{
background: white;
}

.img-circle{
  width: 90px;
  z-index: 1;
}
.iconr{
  position: absolute;
  right:7px;
  top: 70px;
}
.iconl{
  position: absolute;
  left:7px;
  top: 70px;
}
.jumbotron{
  
}

.picture{
  width:800px;
  height:400px;
  margin: auto;
}

.eventt {
	background-color: gray;
	border-style: double;
}
