body{
  background: url("los-angeles-streets-at-night-wallpaper-1.jpg");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: cover;
}

.iconr, .iconl{
  width: 90px;
  z-index: 1;
}
.iconr{
  position: absolute;
  right:7px;
  top: 5px;
}
.iconl{
  position: absolute;
  left:0px;
  top: 5px;
}
h1{
  margin: 0px;
  padding: 10px;
  position: relative;
  font-size: 50px;
  background-color: green;
  text-align: center;
}

// NAV BAR CODE
li.nav{
  display: inline;
  float: left;
}
ul.full-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: navy;
    display: flex;
    justify-content: space-between;

}

li a, .but {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .nav:hover .but {
    background-color: red;
}

li.nav {
    display: inline-block;
}

.dropcon {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropcon a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropcon a:hover {background-color: #f1f1f1}

.nav:hover .dropcon {
    display: block;
}
/*NAV BAR CODE END*/

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.pic{
	width:1200px;
	height:500px;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 70px;
  border-radius: 3px 0 0 3px;
}

.prev {
	left: 70px;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: navy;
  font-size: 15px;
  padding: 8px 12px;
  text-align: center;
  background-color: green;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.eventt {
	background-color: gray;
	border-style: double;
}

