.img-circle{
  width: 90px;
  z-index: 1;
}
.iconr{
  position: absolute;
  right:7px;
  top: 70px;
}
.iconl{
  position: absolute;
  left:0px;
  top: 70px;
}
body{
background: white;
}
.jumbotron{
  top:31px;
  position: relative;
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(blue, lightgreen); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(blue, lightgreen); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(blue, lightgreen); /* For Firefox 3.6 to 15 */
  background: linear-gradient(blue, lightgreen); /* Standard syntax */
}
.team_pic{
  width: 200px;
  height: 200px;
}
.pic-hide{

}
.text-area{
  width:200px;
  height:200px;
  background:lightblue;
  position: absolute;
  display: none;
  z-index: 1;
  top:175px;
}
.team_pic:hover .text-area{
  display: block;
}
